<h1>Cocktails</h1>
<div class="col-6">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do%>
      <div class="card"><%= cocktail.name %></div>
    <% end %>
  <% end %>
</div>
