<h1>Tister Mock Fails</h1>
<h3 class="subtitle"></h3>
<div class="col-6">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do%>
      <div class="card"><%= cocktail.name %></div>
    <% end %>
  <% end %>
</div>
<%=javascript_pack_tag "cocktails/index", defer: true%>
