.my-card {
  background-color: $light;
  color: $black;
  padding: 16px;
  width: 260px;
  height: 430px;
  text-align: center;
  margin: 32px;
  border-radius: 6px;
  overflow: hidden;
  a {
    color: $black;
  }
  img {
    border-radius: 50%;
  }
}
